body {
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body .p {
  color: #000000;
}

header,
section {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  background-color: #000000;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
}

nav .name {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

nav ul li a:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 5px;
  }

  nav ul li a {
    display: block;
    text-align: center;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 5px;
  }

  nav ul li a {
    padding: 8px;
  }
}
